.btn-createProduct{
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  font-size: 15px;
  background: #e0c408c9;
  border-color: black;
  color: white;
  cursor: pointer;
}
.span-createProduct{
  margin: 10px;
}
